.team {
  font-family: $font-family-main;
  letter-spacing: 0.03em;
  background-color: $minor-background-color;

  & ul {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  & h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    color: $main-text-color;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    color: $minor-text-color;
    padding-bottom: 30px;
  }
}
.team-item {
  margin-right: 30px;
  background-color: $section-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:last-child {
    margin-right: 0;
  }
}

.sm {
  display: flex;
}

.sm-item .sm-link {
  display: flex;
  height: 44px;
  width: 44px;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
  color: $icons-primary-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-right: 0;
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $icons-contrast-color;
    color: $main-background-color;
  }
}

/*.sm-item a:hover,
.sm-item a:focus,
.sm-item a:active {
  
}*/

.sm-icon {
  height: 20px;
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  fill: currentColor;
}

/*.sm {
  display: flex;
}

.sm-item:hover,
.sm-item:focus,
.sm-item:active {
  background-color: $icons-contrast-color;
}

.sm .team .sm {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
}

.sm-item {
  display: flex;
  width: 44px;
  height: 244px0px;
  fill: $icons-primary-color;
  align-items: center;
  border-radius: 50%;
  margin-right: 10px;
}

.sm-icon:last-child {
  margin-right: 0;
}

footer .sm-item {
  background-color: rgba(255, 255, 255, 0.1);
  fill: $section-background-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}

.sm-item:hover,
.sm-item:focus,
.sm-item:active {
  background-color: $icons-contrast-color;
  fill: $section-background-color;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
}
.sm-icon {
  height: 20px;
  width: 20px;
  margin-right: auto;
  margin-left: auto;
}

.sm a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
*/
